.main{
    padding: 10px;
    text-align: center;
}
.dark{
    background-color: black;
    color: white;
}
li{
    list-style: none;
}
button{
    padding: 10px;
    color: white;
    background: orangered;
    outline: none;
    border: none;
    margin: 20px;
    border-radius: 15px;
}
